<header>
  <h1>
    {{toUpper message}}
  </h1>
  <p><a href="/">Home Page</a></p>
  <p><a href="/about">About Page</a></p>
  <p><a href="/backend">BackEnd Page</a></p>
  <p><a href="/projects">Projects Page</a></p>
</header>
